* {
  /*border: red 1px solid;*/
}

body {
  font-family: 'Raleway' !important;
}

.clearfix {
  overflow: auto;
}

ul {
  list-style-type: none;
}

#above-nav {
  background-color: #3c3431;
  color: #d8d6d6;
  width: 100%;
}

#above-nav ul {
  margin:0 auto;
  max-width: 1000px;
  width: 100%;
}

#above-nav li {
  float: right;
  font-weight: 400;
  margin: 1%;
}

#top-nav {
  background-color: #ffffff;
  border: none;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

#navbar-branding {
  float: left;
}

#navbar-branding p {
  font-size: 1rem;
}

#navbar-branding img {
  display: inline;
}

#nav-links li:hover {
  background-image: linear-gradient(180deg, rgb(232, 88, 57) 39%, rgb(252, 139, 104) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(232, 88, 57) 39%, rgb(252, 139, 104) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(232, 88, 57) 39%, rgb(252, 139, 104) 100%);
  background-image: -o-linear-gradient(bottom, rgb(232, 88, 57) 39%, rgb(252, 139, 104) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(232, 88, 57) 39%, rgb(252, 139, 104) 100%);
}

#carousel {
  float: left;
}

#carousel-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 50%;
  height: 446px;
  width: 50%; 
  background-image: linear-gradient(180deg, rgb(86, 75, 70) 12%, rgb(41, 36, 34) 100%);
  background-image: -moz-linear-gradient(top, rgb(86, 75, 70) 12%, rgb(41, 36, 34) 100%);
  background-image: -webkit-linear-gradient(top, rgb(86, 75, 70) 12%, rgb(41, 36, 34) 100%);
  background-image: -o-linear-gradient(top, rgb(86, 75, 70) 12%, rgb(41, 36, 34) 100%);
  background-image: -ms-linear-gradient(top, rgb(86, 75, 70) 12%, rgb(41, 36, 34) 100%);
  color: #ffffff;
}

#carousel-right-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

#carousel-right-inner input {
  margin-top: -10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(198, 199, 202);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(105, 105, 106, 0.35),inset 0px 1px 5px 0px rgba(0, 0, 0, 0.29);
  width: 400px;
  height: 40px;
}

#btn {
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(231, 86, 55);
  border-radius: 5px;
  background-image: linear-gradient(180deg, rgb(232, 88, 57) 39%, rgb(252, 139, 104) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(232, 88, 57) 39%, rgb(252, 139, 104) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(232, 88, 57) 39%, rgb(252, 139, 104) 100%);
  background-image: -o-linear-gradient(bottom, rgb(232, 88, 57) 39%, rgb(252, 139, 104) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(232, 88, 57) 39%, rgb(252, 139, 104) 100%);
  opacity: 0.8;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.45);
  width: 250px;
  height: 52px;
  color: #ffffff;
  font-weight: 400;
  font-size: 2.5rem;
}

#section1 {
  margin:0 auto;
  max-width: 1000px;
  width: 100%;
}

#section1-inner1 {
  text-align: center;
  margin-bottom: 4%;
}

#section1-inner1 h2 {
  font-weight: 700;
}

#section1-inner1 h4 {
  color: #cbbaaf;
  font-weight: 700;
}

#section1 h5 {
  font-weight: 700;
}

.stamp {
  padding: 4%;
}

.stamp img {
  float: left;
}

.stamp-inner {
  text-align: left;
}

.stamp-inner a {
  color: #ff9878;
  font-weight: 700;
}

#upward-triangle {
  margin-top: 3%;
  margin-bottom: -4.2%;
}

#section2 {
  background-color: #ff9878;
  height: 508px;
}

#section2 h2 {
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin: 3%;
}

.section2-inner {
  width: 300px;
  margin: 0;
  padding: 0px;
  background-color: #ffffff;
}



